.logindiv{
    background-image: url('https://img.freepik.com/premium-vector/seamless-dog-pattern-with-paw-prints-hearts-cat-foot-texture-pattern-with-doggy-pawprint_192280-743.jpg?w=2000');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
  }

  